.directory-details,
.directory-list,
[data-directory],
[data-directory] > .row {
    height: 100%;
}

.directory-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.fl-with-top-menu .directory-wrapper {
    top: 44px;
}

.directory-details {
    float: left;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    position: relative;
}

.overlay-directory .overlayPanel {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    -webkit-animation-duration: 350ms;
    -ms-animation-duration: 350ms;
    animation-duration: 350ms;
}

.overlay-directory .overlayPanelScreen {
    background-color: transparent;
}

.directory-list .list-default,
.overlayPanel .list-default {
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.directory-list ul,
.overlayPanel ul {
    padding: 0;
    margin: 0;
    font-size: 13px;
}
@media screen and (min-width: 640px) {
    .fl-with-top-menu .directory-wrapper {
        top: 55px;
    }

    .directory-list ul {
        font-size: 16px;
        line-height: 1.5;
        font-weight: 200;
    }
}

.directory-list li,
.overlayPanel li {
    list-style: none;
    border-bottom: 1px solid rgba(51, 51, 51, 0.2);
    padding: 10px 10px 10px 0;
    position: relative;
}

.directory-list li.linked,
.overlayPanel li.linked {
    padding: 10px 44px 10px 0;
}

.directory-list .list-default li.linked,
.overlayPanel .list-default li.linked {
    padding-right: 44px;
    cursor: pointer;
}

.directory-list .list-default li.data-linked.has-thumbs {
    padding-left: 62px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    min-height: 70px;
}
@media screen and (min-width: 640px) {
    .directory-list .list-default li.active.has-thumbs {
        padding-left: 72px;
    }
}

.list-default li.has-thumbs .list-image {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -25px;
    background-position: center center;
    background-size: cover;
    background-image: url('../img/thumb-placeholder.png');
    background-repeat: no-repeat;
}

.list-default.circular li.has-thumbs .list-image {
    border-radius: 50%;
}
@media screen and (min-width: 640px) {
    .list-default li.active.has-thumbs .list-image {
        left: 10px;
    }
}

.directory-list li.data-linked.has-thumbs {
    min-height: 70px;
}

.directory-list {
    padding: 0;
    width: 100%;
    overflow: hidden;
    background: #fff;
    position: relative;
}

.directory-list .list-default ul > li .icon,
.overlayPanel .list-default ul > li .icon {
    display: none;
    position: absolute;
    width: 44px;
    height: 44px;
    top: 50%;
    right: 0;
    margin-top: -22px;
    font-size: 28px;
    line-height: 44px;
    text-align: center;
    color: #333;
}

.directory-list .list-default ul > li.linked .icon,
.overlayPanel .list-default ul > li.linked .icon {
    display: block;
}

.directory-list .list-default li .list-title,
.overlayPanel .list-default li .list-title {
    font-size: 1.1em;
    font-weight: 600;
    margin: 0;
}

.directory-list .list-default li .list-tags {
    font-weight: normal;
    font-size: 11px;
    margin-top: 5px;
    position: relative;
    z-index: 10;
}

.directory-list .list-default li .list-tags span.tag-seperation {
    display: none;
}

.directory-list .list-default li .list-tags a {
    color: #333;
    background: #ddd;
    padding: 4px;
    margin-right: 4px;
    line-height: 24px;
}

.directory-list .list-default ul > li .list-title + p,
.overlayPanel .list-default ul > li .list-title + p {
    margin: 0;
    font-size: 12px;
}
@media screen and (min-width:640px) {
    .directory-list {
        float: left;
        border-right: 1px solid rgba(127,127,127,0.1);
        width: 33.333%;
    }
}

.directory-details {
    padding: 22px 26px;
    width: 66.667%;
}
@media screen and (max-width:639px) {
    .directory-details {
        display: none;
    }
}

.directory-list li {
    margin-left: 10px;
    border-bottom: none;
    border-top: 1px solid rgba(51, 51, 51, 0.2);
}

.directory-list li.divider {
    background: #FAFAFA;
    font-size: 16px;
    line-height: 22px;
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    margin-left: 0;
    padding-left: 10px;
}

.directory-list li.divider + li,
.directory-list li:first-child {
    border-top: none;
}
@media screen and (min-width:640px) {
    .directory-entries li.active,
    .search-result li.active {
        margin-left: 0;
        padding-left: 10px;
        border-top: none;
        background-color: #337ab7;
        color: #FFF;
    }

    .directory-entries li.active + li,
    .search-result li.active + li {
        border-top: none;
    }

    .directory-list .list-default ul > li.active .icon,
    .search-result .list-default ul > li.active .icon {
        color: #FFF;
    }
}

.directory-list .list-default li .list-title {
    font-weight: normal;
    font-size: 14px;
}

.directory-screen {
    display: none;
}
@media screen and (min-width:640px) {
    .directory-screen {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 33.333%;
        background-color: rgba(51,51,51,0.8);
        opacity: 0;
        pointer-events: none;
    }

    [data-directory][data-mode="filter-values"] .directory-screen,
    [data-directory][data-mode="search"] .directory-screen,
    [data-directory][data-mode="search-result"] .directory-screen {
        opacity: 1;
        pointer-events: all;
    }
}

.directory-search {
    background: #D2D2D2;
    padding: 10px;
    height: 44px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 15;
    overflow: hidden;
}

.directory-filters {
    display: none;
    padding-top: 44px;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

[data-directory][data-mode="filter-values"] .directory-filters,
[data-directory][data-mode="search"] .directory-filters {
    display: block;
}

[data-directory][data-mode="filter-values"] .directory-entries,
[data-directory][data-mode="search"] .directory-entries {
    display: none;
}

.directory-entries {
    height: 100%;
    position: relative;
}

.directory-entries:empty:after {
    content: 'Loading';
    display: block;
    opacity: 0.5;
    font-size: 14px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    padding-top: 30%;
}

.directory-entries.not-configured,
.directory-filters + .directory-entries.not-configured {
    text-align: center;
    padding-top: 30%;
    opacity: 0.5;
    font-size: 14px;
    height: 100%;
}

.directory-entries.list-index-enabled {
    padding-right: 20px;
}

.list-index {
    width: 20px;
    position: fixed;
    top: 50%;
    right: 0;
    -webkit-transform: translate3d(0,-50%,0);
    transform: translate3d(0,-50%,0);
    cursor: default;
    margin-top: 44px;
    display: none;
}

[data-directory][data-mode="default"] .list-index {
    display: block;
}
@media screen and (min-width:640px) {
    .list-index {
        right: 66.667%;
        margin-top: 50px;
    }
}

.list-index span {
    display: block;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
    position: relative;
    z-index: 10;
    color: #2177D4;
}

.directory-filters + .directory-entries {
    padding-top: 44px;
}

[data-directory][data-mode="search-result"] .directory-entries,
[data-directory][data-mode="search-result-entry"] .directory-entries {
    display: none;
}

.search-result {
    display: none;
    padding-top: 44px;
    position: relative;
    -webkit-animation: slideInRight 0.35s;
    animation: slideInRight 0.35s;
}

[data-directory][data-mode="search-result"] .search-result,
[data-directory][data-mode="search-result-entry"] .search-result {
    display: block;
}

.search-result ul:empty:after {
    content: 'No results were found.';
    display: block;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-top: 30%;
    pointer-events: none;
}

.search-result-header-container {
    position: absolute;
    background-color: #fff;
    top: 44px;
    width: 100%;
    z-index: 1;
}

.search-result-header {
    height: 36px;
    line-height: 36px;
    background-color: #FAFAFA;
    font-size: 12px;
}

.search-result-clear {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 36px;
    height: 36px;
    font-size: 12px;
    color: #333;
}

.search-result-header h5 {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    line-height: 36px;
    padding-left: 10px;
}

.search-result ul {
    padding-top: 36px;
}

.search {
    height: 24px;
    line-height: 20px;
    padding: 2px 10px 2px 30px;
    border-radius: 3px;
    border: none;
    width: 100%;
    font-size: 14px;
    -webkit-transform: translate3d(0,-1px,0);
    transform: translate3d(0,-1px,0);
    -webkit-transition: width 0.35s ease;
    transition: width 0.35s ease;
    outline: none;
}

.directory-search .fa-search {
    position: absolute;
    top: 15px;
    left: 18px;
    color: #c5c5c5;
    font-size: 14px;
    z-index: 1;
}

.search-clear {
    display: inline-block;
    margin-left: -16px;
}

.search-cancel {
    position: absolute;
    top: 3px;
    right: 0;
    color: #2177D4;
    font-size: 14px;
    line-height: 24px;
    opacity: 0;
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
    -webkit-transition: all 0.35s 0.03s ease;
    transition: all 0.35s 0.03s ease;
}

.search-cancel:active,
.search-cancel:hover {
    text-decoration: none;
}

[data-directory][data-mode="filter-values"] .search-cancel,
[data-directory][data-mode="search"] .search-cancel,
[data-directory][data-mode="search-result"] .search-cancel,
[data-directory][data-mode="search-result-entry"] .search-cancel {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

[data-directory][data-mode="filter-values"] .search,
[data-directory][data-mode="search"] .search,
[data-directory][data-mode="search-result"] .search,
[data-directory][data-mode="search-result-entry"] .search {
    margin-right: 60px;
}

.directory-filters label {
    font-weight: normal;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: 1px solid rgba(51, 51, 51, 0.2);
    font-size: 14px;
    color: #bbbbbb;
    display: block;
    height: 31px;
    line-height: 30px;
}

.filters .list-default {
    overflow: visible;
}

.filters h3 {
    font-weight: bold;
    font-size: 20px;
    margin: 15px 0 0;
    padding: 0 10px 10px;
    border-bottom: 1px solid rgba(51, 51, 51, 0.2);
}

.filter-selected {
    font-weight: 300;
}

.filter-value-list {
    display: none;
}

[data-directory][data-mode="filter-values"] .filter-value-list {
    display: block;
}

[data-directory][data-mode="filter-values"] .filter-list {
    display: none;
}

.directory-detail-title {
    font-size: 24px;
    font-weight: 300;
    margin-top: 1.9em;
}

.directory-detail-title.has-thumbnail {
    text-align: center;
}

.directory-detail-title span.thumbnail {
    display: none;
}

.directory-detail-title.has-thumbnail span.thumbnail {
    display: block;
    position: relative;
    width: 100%;
    height: 150px;
    border: none;
    position: relative;
    margin-left: 0;
    margin-top: 0x;
    float: none;
}

.directory-detail-title.has-thumbnail span.thumbnail .helper {
    padding-top: 100%;
}

.directory-detail-title.has-thumbnail span.thumbnail .img-wrapper {
    display: block;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../img/thumb-placeholder.png');
    border: 1px solid #cfcfcf;
    overflow: hidden;
}

.directory-detail-title.has-thumbnail span.thumbnail .img-wrapper.circular {
    border-radius: 50%;
}

.directory-detail-label {
    margin-top: 30px;
    font-size: 14px;
    opacity: 0.5;
}

.directory-detail-value {
    font-size: 16px;
}

.directory-detail-value img {
    max-width: 100%;
}
/* Loading Overlay */
.directory-list.disabled li {
    pointer-events: none;
}

.directory-details.disabled div {
    pointer-events: none;
}

.directory-loading {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
}

.directory-loading .directory-loading-screen {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 100;
}

.directory-loading .directory-loading-body {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top: 40%;
    z-index: 101;
}

.panel-group .panel {
    border: 1px solid #ddd;
    border-radius: 0;
    -wbkit-box-shadow: none;
    box-shadow: none;
}

.panel-group .panel-heading {
    padding: 0;
    border-radius: 0;
    border: 0;
    color: #337ab7;
}

.panel-group h4 {
    font-weight: normal;
    padding: 10px 44px 10px 15px;
    position: relative;
    color: #337ab7;
}

.panel-group h4:after {
    content: "\f106";
    position: absolute;
    top: 0;
    right: 15px;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 22px;
    line-height: 37px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #337ab7;
}

.panel-group h4.collapsed:after {
    content: "\f107";
}
/* LOADER */
.loader-wrapper {
    height: 3em;
    margin-top: 0;
}

.loader,
.loader:after,
.loader:before {
    background: #333;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 2em;
}

.loader:after,
.loader:before {
    position: absolute;
    top: 0;
    content: '';
}

.loader:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loader {
    color: #333;
    text-indent: -9999em;
    margin: 3em auto;
    position: relative;
    font-size: 11px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.loader:after {
    left: 1.5em;
}
@-webkit-keyframes load1 {
    0%,
    100%,
    80% {
        box-shadow: 0 0;
        height: 2em;
    }

    40% {
        box-shadow: 0 -2em;
        height: 3em;
    }
}
@keyframes load1 {
    0%,
    100%,
    80% {
        box-shadow: 0 0;
        height: 2em;
    }

    40% {
        box-shadow: 0 -2em;
        height: 3em;
    }
}
/** DATE RANGE OVERLAY **/
.overlay-date-range .overlayPanelScreen {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 19999;
    background: rgba(0, 0, 0, 0.7);
    -webkit-transform: translate3d(0, 0, -400px);
    transform: translate3d(0, 0, -400px);
    opacity: 0;
    pointer-events: none;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}

.overlay-date-range.active .overlayPanelScreen {
    opacity: 1;
    pointer-events: all;
}

.overlay-date-range .overlayPanel {
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    background: rgba(0, 0, 0, 0.3);
    z-index: 20000;
    padding: 0;
    -webkit-border-radius: 5px;
    -webkit-transform: translate3d(0, 0, 0) scale(0);
    transform: translate3d(0, 0, 0) scale(0);
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}

.overlay-date-range.active .overlayPanel {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.overlay-date-range .overlayNavbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 44px;
    z-index: 1;
    border-bottom: 1px solid #c9c9c9;
    line-height: 44px;
    font-size: 14px;
    text-align: left;
    font-weight: bold;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.95);
    color: #333;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    display: none;
}

.overlay-date-range.hasNavbar .overlayNavbar {
    display: block;
}

.overlay-date-range .overlayPanelContent {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 8px 16px;
    background: #fff;
    font-size: 1em;
    color: #333;
    text-shadow: none;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.overlay-date-range.hasNavbar .overlayPanelContent {
    padding-top: 52px;
}

.overlay-date-range .overlayTitle {
    padding: 0 15px;
}

.overlay-date-range .overlayNavbar .overlayTitle {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.overlay-date-range .overlayNavbar .closeButton {
    float: right;
    padding: 0 15px;
    z-index: 1;
    font-weight: normal;
    cursor: pointer;
}

.overlay-date-range .overlayFooter {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    border-top: 1px solid #c9c9c9;
    font-size: 14px;
    text-align: left;
    font-weight: bold;
    overflow: hidden;
    background: rgba(255, 255, 255, 1);
    color: #333;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    display: none;
    padding: 15px;
}

.overlay-date-range.hasFooter .overlayFooter {
    display: block;
}

.overlay-date-range.hasFooter .overlayPanelContent {
    padding-bottom: 131px;
}

.overlay-date-range .overlayFooter > .btn:first-child {
    margin-bottom: 10px;
}
@media screen and (min-width: 640px) {
    .overlay-date-range .overlayPanel {
        top: 20%;
        left: 20%;
        right: 20%;
        bottom: auto;
    }

    .overlay-date-range.hasFooter .overlayPanelContent {
        padding-bottom: 76px;
    }

    .overlay-date-range .overlayFooter > .btn:first-child {
        margin-bottom: 0;
    }
}

.overlay-date-range .form-horizontal .control-label {
    text-align: left !important;
    margin-bottom: 0.8em;
}

.overlay-date-range .form-group .control-label label {
    font-weight: 600;
    margin-bottom: 0;
    padding-top: 5px;
}

.overlay-date-range .form-control {
    border-radius: 22px;
    border: 1px solid transparent;
    height: 44px;
    line-height: 44px;
    padding: 0 15px;
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.15);
    -webkit-appearance: none;
}

.overlay-date-range .form-control:focus {
    border: 1px solid #337ab7;
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.15);
}

.overlay-date-range .form-group .input-group {
    padding: 0 15px;
    position: relative;
    width: 100%;
}

.overlay-date-range .input-group-addon {
    position: absolute;
    width: 44px;
    height: 24px;
    top: 50%;
    margin-top: -12px;
    left: 15px;
    padding: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    height: 24px;
    color: #337ab7;
    text-align: center;
    background-color: transparent;
    border: none;
    border-right: 1px solid #337ab7 !important;
    z-index: 4;
}

.overlay-date-range .form-group .input-group .form-control {
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
    padding-left: 57px;
}

.overlay-date-range .btn-primary {
    display: block;
    clear: both;
    width: 100%;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-color: transparent;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
}

.overlay-date-range .btn-default:focus,
.overlay-date-range .btn-default:hover,
.overlay-date-range .btn-primary:focus,
.overlay-date-range .btn-primary:hover,
.overlay-date-range .btn:active:focus {
    outline: none;
}

.overlay-date-range .btn-default {
    display: block;
    clear: both;
    width: 100%;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
}
/* Buttons */
.btn-primary {
    display: block;
    clear: both;
    width: 100%;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 24px;
    border: none;
    text-align: center;
    cursor: pointer;
    border-radius: 6px;
}

.btn-secondary {
    display: block;
    clear: both;
    width: 100%;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 24px;
    border: none;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
    background-color: #c0c0c0;
}

.btn-secondary:focus,
.btn-secondary:hover,
.btn:active:focus {
    outline: none;
}
@media (min-width:640px) {
    .btn-primary,
    .btn-secondary {
        clear: none;
        display: inline-block;
        width: auto;
        max-width: 100%;
    }

    .detail-share-button {
        margin-top: 0;
    }

    .overlay-date-range .btn-default,
    .overlay-date-range .btn-primary {
        clear: none;
        display: inline-block;
        width: auto;
        max-width: 100%;
    }
}
