<option>-- Select a data source</option>
<option disabled>------</option>
	<option value="new">Create a new data source</option>
<option disabled>------</option>
{{#each this}}
  <option value="{{id}}">{{name}}</option>
{{/each}}