<select class="hidden-select form-control" name="thumbnail_field" id="data-thumbnail-fields-select">
    <option value="">Choose a field (optional)</option>
    {{#each this}}
        <option value="{{this}}">{{this}}</option>
    {{/each}}
</select>