<select class="hidden-select form-control" name="alphabetical_field" id="data-alphabetical-fields-select">
    {{#each this}}
        <option value="{{this}}">{{this}}</option>
    {{/each}}
</select>